@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Josefin+Sans:ital@1&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Set general format - all pages */

body {
    background-color: var(--mypink);
}

h2, h1 {
    font-family: 'Dancing Script', sans-serif;
}

h2 {
    font-size: 32px;
}

.intro h1 {
    font-size: 32px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

/* Set two variable for color  */

:root {
    --mypink: rgba(203, 116, 135, 1);
}

:root {
    --myyellow: rgba(244, 202, 10, 1);
}

:root {
    --myblue: rgba(0, 85, 102,1);
}

/* Header Styling - all pages */

header {
    background: white;
    min-height: 80px;
    width: 100%;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif; 
}

/* Styling nav bar direction - all pages  */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Responsive resizing navigation breaking-point 480 width - all pages  */

@media (max-width:600px) {
    .nav-list {
        flex-direction: column;
    }
}

/* Nav items styling - all pages */

.nav-item {
    list-style-type: none;
     margin: 2rem;
}

/* Nav items styling - all pages */

.nav-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mypink)
}

/* Nav items styling - all pages */

.nav-item:first-child {
    margin-right: auto;
}

/* Navigation logo styling - all pages */
    
ul h1 {
    font-family: 'Dancing Script', sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
}

/* Navigation links interactivity styling - all pages */

.nav-item a:hover {
    color: var(--myyellow);
    font-size: 150%;

}

/* Styling navigation to signify in which page the user is- all pages */

.active {
    border-bottom: 3px solid rgba(0, 85, 102,1);
}

/* Cover image stretching the full width and lenght from the section - Home Page  */

#cover {
    background-color: var(--mypink);
    background-image: url("../images/Ludmilla-Mary-by-Richard-Rhyme.jpg");
    min-height: 950px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responsive cover background image beaking point 600 px */

@media (max-width:600px) {
    #cover {
        background-color: var(--mypink);
        background-image: url(../images/Portrait-Ludmilla-Mary-Web.jpg);
        min-height: 350px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Styling of the motto postioning, dimension -Home page - inspiration @Vlt_dev for the micro structure and color tpye, I elevate the model */

.motto {
    display: flex;
    margin: 2rem;
}

.motto li {
    list-style: none;
}

.motto div {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive breaking point 500px  */

@media (max-width: 505px) {
    .motto {
        flex-direction: column;
    }
}

/* Styling of the motto postioning, dimension - Home page */

.align-motto {
    display: flex;
}

/* Responsive breaking point 725px  */

@media (max-width:725px) {
    .align-motto {
        flex-direction: column;
    }
}

/* Styling of the typography of the motto - home page  */

.motto div {
    font-size: 72px;
    font-family: 'Dancing script', sans-serif;
    color: var(--myyellow);
    text-shadow: 0 0 15px var(--myyellow), 0 0 25px var(--myyellow);
    animation: vibrant 1.5s linear infinite;
}

/* animation effect on the typography of the motto - home page */

@keyframes vibrant {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* Responsive interaction layout Motto text/photo breacking-point 725px column */

@media (max-width:725px) {
    .align-motto {
        flex-direction: column;
    }
}


/* Tip to direct the user to the next page - all pages */

#tip {
    background-color: var(--mypink);
    min-height: 80px;
    width: 100%;
}

/* styling of the heading for the tip - all pages */

#tip h2 {
    font-family: 'dancing script', sans-serif;
    font-size: 32px;
    color: var(--myyellow);
}

#tip a {
    text-decoration: none;
}

#tip h2:hover {
    color: var(--myblue);
    font-size: 355%;
}

/* positioning of the heading tip - all pages */

#tip {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the footer - all pages  */

footer {
    background: white;
    min-height: 80px;
    width: 100%;
}

.social-networks i {
    font-size: 160%;
    color: var(--mypink);
    margin: 2rem;
}

.social-networks li {
    list-style-type: none;
}

/* icon interactivity styling footer - all pages  */

.social-networks a:hover {
    font-size: 150%;
}

.social-networks i:hover {
    color: var(--myyellow);
}

/* postioning the icons in the footer- all pages  */

.social-networks {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center intro - pages Be Fierce, Be Real */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    text-align: center;
    padding-top: 4rem;
}

.intro p {
    padding: 2rem;
}

/* givin a size to paragraph */

.layout-item {
    width: 600px;
    height: 950px;
}


/* Positioning img and text - all pages except home page and Gallery */

#container-layout {
    display: flex;
    justify-content: center;
    justify-content: center;
}

#layout {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

/* Set background images - page Be Fierce  */

#image1 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla_Mary-walking-on-a-bridge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#image2 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-by-Jeremy-Patlen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image3 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-night-by-Richard-Ryhme.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image4 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-Portrait-by-Stephany-Hildebrand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Center and align the text from our main layout text - all pages except Home page and Gallery  */

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h2 {
    text-align: center;
}

.text p {
    padding: 2rem;
    text-align: center;
}


/* Styling background text layout  */

.text {
    background-color: white;
}

Responsive

@media (max-width:480px) {
    .layout-item {
        max-width: 380px;
        min-width: 300;
    }
}

@media (max-width:600px) {
.text {
    max-height: 475px;
}
}

/* Positoning iframe - pages Be Fierce, Be Real */

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

/* Proportion iframe*/

iframe {
    width: 1200px;
    min-height: 600px;
    border: none;
}

/* Responsive interaction iframe breacking-point 725px column formation */

@media (max-width:1200px) {
    iframe {
        width: 600px;
    }
}

@media (max-width:600px) {
    iframe {
        width: 300px;
    }
}

/* Set background image for Be Real  */

#image5 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-sitting-on-stairs-by-Anne-Mourier.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image6 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-Sofa-eating-by-Anne-Mourier.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image7 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-blasee-by-Jeremy_bodies.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image8 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-by-Jeremy_bodies.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Positioning contact form */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.signup h2 {
    margin-bottom: 1rem;
}

/* Styling contact form */

details {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
}

label, input,summary {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
}

input {
    width: 65%;
    opacity: 0.8;
}

.button {
    background-color: var(--myyellow);
    text-align: center;
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px 32px 15px 32px;
    border-radius: 25px;
    margin-top: 1rem;
}

/* Backgroung image next to the contact form */

#image9 {
    background-color: var(--mypink);
    background-image: url('../images/Ludmilla-Mary-Rose-by-Stephanie-Hildebrand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Positioning Gallery */

.container-photos {
    display: flex;
    justify-content: center;
    justify-content: center;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

/* Responsive gallery breaking point 600px */

@media (max-width:600px) {
    img {
        width: 300px;
        height: 300px;
    }
}


/* background-image confirmation contact sent */

#sent {
    background-color: var(--mypink);
    background-image: url("../images/La-Grande-Intendante.jpg");
    min-height: 1200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:600px) {
    #sent {
        background-color: var(--mypink);
        background-image: url(../images/Portrait-Ludmilla-Mary-Web.jpg);
        min-height: 350px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Positioning the title in the background from confirmation page */

#sent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sent h1 {
    font-size: 72px;
    color: var(--myyellow);
}

