@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Josefin+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}



/* Set two variable for color  */

:root {
    --mypink: rgba(203, 116, 135, 1);
}

:root {
    --myyellow: rgba(244, 202, 10, 1);
}

:root {
    --myblue: rgba(0, 85, 102,1);
}

/* Header Styling - all pages */


header {
    background: white;
    min-height: 80px;
    width: 100%;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    
}

/* Styling nav bar direction - all pages  */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Nav items styling - all pages */

.nav-item {
    list-style-type: none;
     margin: 2rem;
}

/* Nav items styling - all pages */

.nav-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mypink)
}

/* Nav items styling - all pages */

.nav-item:first-child {
    margin-right: auto;
}

/* Navigation logo styling - all pages */
    
ul h1 {
    font-family: 'Dancing Script', sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
}

/* Navigation links interactivity styling - all pages */

.nav-item a:hover {
    color: var(--myyellow);
    font-size: 150%;

}

/* Styling navigation to signify in which page the user is */

.active {
    border-bottom: 3px solid rgba(0, 85, 102,1);
}

/* Cover image stretching the full width and lenght from the section -Home Page  */

#cover {
    background-color: var(--mypink);
    background-image: url("../images/Ludmilla-Mary-by-Richard-Rhyme.jpg");
    min-height: 950px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling of the motto postioning, dimension -Home page */

.motto {
    display: flex;
    margin: 2rem;
}

.motto li {
    list-style: none;
}

.motto div {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-motto {
    display: flex;
}

/* Styling of the typography of the motto - home page  */

.motto div {
    font-size: 72px;
    font-family: 'Dancing script', sans-serif;
    color: var(--myyellow);
    text-shadow: 0 0 15px var(--myyellow), 0 0 25px var(--myyellow);
    animation: vibrant 1.5s linear infinite;
}

/* animation effect on the typography of the motto - home page */

@keyframes vibrant {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


/* Retun to one section of the header */

#tip {
    background-color: var(--mypink);
    min-height: 80px;
    width: 100%;
}

/* styling of the heading for the last section before footer - all pages */

#tip h2 {
    font-family: 'dancing script', sans-serif;
    font-size: 32px;
    color: var(--myyellow);
}

#tip a {
    text-decoration: none;
}

#tip h2:hover {
    color: var(--myblue);
    font-size: 355%;
}


/* positioning of the heading center in the secton - all pages */

#tip {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the footer - all pages  */

footer {
    background: white;
    min-height: 80px;
    width: 100%;
}

.social-networks i {
    font-size: 160%;
    color: var(--mypink);
    margin: 2rem;
}

.social-networks li {
    list-style-type: none;
}

/* icon interactivity styling footer - all pages  */

.social-networks a:hover {
    font-size: 150%;
}

.social-networks i:hover {
    color: var(--myyellow);
}


/* postioning the icons in the footer- all pages  */

.social-networks {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}